[submodule "includes/libft"]
	path = includes/libft
	url = https://github.com/pstringe/libft
[submodule "includes/ft_printf"]
	path = includes/ft_printf
	url = https://github.com/pstringe/ft_printf.git
